Package: com.imokhles.unflodpatch
Name: UnflodPatch
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: patch unflod issue.
Maintainer: iMokhles
Author: iMokhles
Section: Tweaks
