Package: com.imokhles.unfoldpatch
Name: UnfoldPatch
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: patch unfold issue.
Maintainer: iMokhles
Author: iMokhles
Section: Tweaks
